#mapArea {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%; /*1024px;*/
	height: 100%; /*768px;*/
	/*background: #000;*/
	/*background: url(../img/map-grid-empty.gif) repeat;*/
	cursor: none;
	z-index: 50;
}

.mapRoom {
	background: url(../img/map-grid.gif) repeat;
	position: absolute;
	display: none;
	cursor: none;
}

.layer {
	width: 100%; /*1024px;*/
	height: 100%; /*768px;*/
	position: absolute;
	left: 0;
	top: 0;
}

#baseLayer {
	z-index: 1;
}

#wallLayer {
	z-index: 2;
}

#topLayer {
	z-index: 3;
}


#workspace {
	width: 1024px;
	height: 768px;
}

.col {
	float: left;
}

#controls {
	max-height: 500px;
}

input {
	/*border: 1px solid #000;*/
	/*background-color: #fff;*/
}

input.error {
	/*border-color: #f00;*/
	background-color: #ffb0b6;
}

label {
	text-align: right;
	width: 100px;
	display: inline-block;
	margin-bottom: 10px;
}

label > input.integer {
	width: 50px;
}

/* players/monster */
.avatar {
	width: 16px;
	height: 16px;
	z-index: 30;
	position: absolute;
	display: block;
}

.avatar.hero {
	background-image: url(../img/hero.png);
}

.avatar.monster {
	background-image: url(../img/orc.png);
}


/* UI elements */
.wideButton {
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}

.muie {
	position: absolute;
	z-index: 60;
}

#cursorSnap {
	border: 1px solid #64ce78;
	background: #f33;
	width: 3px;
	height: 3px;
}

#activeSquare {
	/*border: 1px solid #64ce78;*/
	background: #f6ff00;
	width: 15px;
	height: 16px;
	opacity: 0.5;
}

#pointSet {
	border: 1px solid #008f0a;
	background: #fffc00;
	width: 3px;
	height: 3px;
	display: none;
}

#featureIndicator {
	display: none;
	background: #f00;
	border: 1px solid #f00;
}

#highlight {
	border: 1px solid #f00;
	background-color: #f00;
	opacity: 0.5;
	display: none;
}

#marquee {
	border: 2px solid #666;
	background-color: #fff;
	opacity: 0.5;
	display: none;
}

.dialog {
	display: none;
	/*position: absolute;*/
	background: #fff;
	padding: 5px;
	border: 2px solid #000;
}

.dialog .close {
	float: right;
	width: 29px;
	height: 29px;
	display: inline-block;
	background-image: url(../img/close-button.png);
}

.ui-tabs-anchor {
	font-size: 12px;
}