#mapArea {
	position: absolute;
	left: 0;
	top: 0;
	width: 1024px;
	height: 768px;
	/*background: #000;*/
	/*background: url(../img/map-grid-empty.gif) repeat;*/
	cursor: none;
	z-index: 9999;
}

.mapRoom {
	background: url(../img/map-grid.gif) repeat;
	position: absolute;
	display: none;
	cursor: none;
}

.layer {
	width: 1024px;
	height: 768px;
	position: absolute;
	left: 0;
	top: 0;
}

#workspace {
	width: 1024px;
	height: 768px;
}

#baseLayer {
	z-index: 1000;
}

#overlayLayer {
	z-index: 2000;
}


.col {
	float: left;
}

#controls {
	width: 300px;
}

input {
	/*border: 1px solid #000;*/
	background-color: #fff;
}

input.error {
	/*border-color: #f00;*/
	background-color: #ffb0b6;
}

label {
	text-align: right;
	width: 250px;
	display: inline-block;
	margin-bottom: 10px;
}

label > input.integer {
	width: 50px;
}



/* UI elements */
.muie {
	position: absolute;
	z-index: 10000;
}

#cursorSnap {
	border: 1px solid #64ce78;
	background: #f33;
	width: 3px;
	height: 3px;
}

#activeSquare {
	/*border: 1px solid #64ce78;*/
	background: #f6ff00;
	width: 15px;
	height: 16px;
	opacity: 0.5;
}

#pointSet {
	border: 1px solid #008f0a;
	background: #fffc00;
	width: 3px;
	height: 3px;
	display: none;
}

#marquee {
	border: 2px solid #666;
	background-color: #fff;
	opacity: 0.5;
	display: none;
}

.dialog {
	display: none;
	position: absolute;
	background: #fff;
	padding: 5px;
	border: 2px solid #000;
}

.dialog .close {
	float: right;
	width: 29px;
	height: 29px;
	display: inline-block;
	background-image: url(../img/close-button.png);
}